chroma
h5py
#keras
langchain
langchain-community
langchain-document_loaders
markdown-it-py
#matplotlib-inline
#numpy
openai
#opencv-python-headless
#pandas
pdf2image
#pillow
#pipreqs
#psutil
pypdf
pypdf[crypto]
requests
#scikit-learn
#seaborn
sentence-transformers
streamlit
#tensorflow
tinycss2
toml
#torch
#torchvision

# Hugging Face dependencies
transformers
accelerate
